# Artificial Neural Network

## 1. Data Preprocessing

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 1.1 Importing the dataset

In [5]:
#for some reasons, the data file on github has some problems when reading
#datafile = 'https://github.com/jchen8000/MachineLearning/blob/master/Classification/data/Churn_Modelling.csv'

#Found the same data file from internet
datafile = 'https://floobits.com/calvinlow18/ANN/raw/Churn_Modelling.csv'
dataset = pd.read_csv(datafile)

In [6]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print(X.shape)
print(y.shape)

(10000, 10)
(10000,)

### 1.2 Encoding categorical data

Encode the country name (string) to 0, 1, 2 etc. 
Encode female/male (string) to 0, 1

Also need One Hot Encoding, see [Label Encoder vs. One Hot Encoder](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [9]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

### 1.3 Splitting the dataset into the Training set and Test set

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### 1.4 Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
print( X_train.shape )
print( X_test.shape )
print( X_train[0:10,:])

(8000, 11)
(2000, 11)
[[-0.5698444   1.74309049  0.16958176 -1.09168714 -0.46460796  0.00666099
  -1.21571749  0.8095029   0.64259497 -1.03227043  1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945  0.91601335  0.30102557 -1.37744033
  -0.00631193 -0.92159124  0.64259497  0.9687384  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 -1.09168714 -0.94312892 -1.031415
   0.57993469 -0.92159124  0.64259497 -1.03227043  1.48533467]
 [-0.5698444   1.74309049  0.03556578  0.91601335  0.10961719  0.00666099
   0.47312769 -0.92159124  0.64259497 -1.03227043  1.27652776]
 [-0.5698444   1.74309049  2.05611444 -1.09168714  1.73658844  1.04473698
   0.8101927   0.8095029   0.64259497  0.9687384   0.55837842]
 [ 1.75486502 -0.57369368  1.29325423 -1.09168714 -0.17749539 -1.031415
   0.44253504  0.8095029   0.64259497 -1.03227043  1.63252134]
 [-0.5698444  -0.57369368  1.6128308   0.91601335  0.77954653 -1.37744033
   0.30432823 -0.92159124 -1.55619021 -1.03227043  0.48149647]
 [-0.5698444   1.74309049 -0.54173384  0.91601335  0.20532138  1.04473698
  -1.21571749  0.8095029   0.64259497  0.9687384   1.07382167]
 [-0.5698444   1.74309049 -0.14999481  0.91601335  3.55496808  1.39076231
   0.80633029 -0.92159124  0.64259497  0.9687384  -1.04949755]
 [-0.5698444  -0.57369368 -0.29431972 -1.09168714 -0.65601634  0.35268632
   1.48636403  0.8095029   0.64259497 -1.03227043  0.01539358]]

## 2. Build Artificial Neural Network

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

ModuleNotFoundError: No module named 'keras'

### 2.1 Build ANN
the input layer and the first hidden layer

*   Input layer = 11 features based on the dataset
*   First Hidden layer = 6, Rectified Linear Units (ReLU) function
*   Second Hidden layer = 6, Rectified Linear Units (ReLU) function
*   Output Layer = 1, using sigmoid function

In [0]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dropout(rate = 0.2)) # To improve the ANN, dropout Regularization to reduce overfitting if needed

classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dropout(rate = 0.2))   # To improve the ANN, dropout Regularization to reduce overfitting if needed

classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

### 2.2 Compiling the ANN

In [0]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### 2.3 Fitting the ANN to the Training set

In [0]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

### 2.4 Making predictions and evaluating the model with test set

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [24]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)
print("Accuracy Score:\n", accuracy_score(y_test, y_pred) )
print(classification_report(y_test, y_pred))

Confusion Matrix:
 [[1561   34]
 [ 257  148]]
Accuracy Score:
 0.8545
              precision    recall  f1-score   support

           0       0.86      0.98      0.91      1595
           1       0.81      0.37      0.50       405

   micro avg       0.85      0.85      0.85      2000
   macro avg       0.84      0.67      0.71      2000
weighted avg       0.85      0.85      0.83      2000

### 2.5 Predicting a single new observation

Predict if the customer with the following informations will leave the bank:


*   Geography: France
*   Credit Score: 600
*   Gender: Male
*   Age: 40
*   Tenure: 3
*   Balance: 60000
*   Number of Products: 2
*   Has Credit Card: Yes
*   Is Active Member: Yes
*   Estimated Salary: 50000

In [25]:
X_new_single = np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])
X_new_single = sc.transform(X_new_single)
y_new_single = classifier.predict(X_new_single)
y_new_single = (y_new_single>0.5)
print( y_new_single )

[[False]]

## 3. Evaluating the ANN

Note: Do not run Section 2. I.e. run Section 1 to prepare the data, skip Section 2, and Run this section.

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense

In [0]:
def build_classifier():
    classifier = Sequential()
    classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
    classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
    classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
    classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return classifier
  
classifier = KerasClassifier(build_fn = build_classifier, batch_size = 10, epochs = 100)
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10, n_jobs = -1)
mean = accuracies.mean()
variance = accuracies.std()

## 4. Tuning the Artificial Neural Network

Find out the best parameters for the ANN

Note: Do not run Section 2 and 3. (I.e. run Section 1 to prepare the data, skip Section 2 and 3, then Run this section.)

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense

In [0]:
def build_classifier(optimizer,units):
    classifier = Sequential()
    classifier.add(Dense(units = units, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
    classifier.add(Dense(units = units, kernel_initializer = 'uniform', activation = 'relu'))
    classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
    classifier.compile(optimizer = optimizer, loss = 'binary_crossentropy', metrics = ['accuracy'])
    return classifier
  
classifier = KerasClassifier(build_fn = build_classifier)
parameters = {'batch_size': [8, 16],
              'epochs': [100, 500],
              'optimizer': ['adam', 'rmsprop'],
              'units': [6,12,18]}

grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10)

In [0]:
grid_search = grid_search.fit(X_train, y_train)

best_parameters = grid_search.best_params_
best_accuracy = grid_search.best_score_

print(best_parameters)
print(best_accuracy)